@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400&display=swap');

html,
body,
#__next {
  height: 100%;
}
button:focus {
  outline: 0 !important;
}




/* CSS DEBUGGER */
/* *:not(path):not(g) {
  color: hsla(210, 100%, 100%, 0.9) !important;
  background: hsla(210, 100%, 50%, 0.5) !important;
  outline: solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;
} */
